<div class="ui fixed inverted menu">
  <div class="ui container">
    <% if user_signed_in? %>
      <div class="item">
        <%= link_to 'Home', root_path %>
      </div>
      <div class="header item">
        <strong><%= current_user.email %></strong>
      </div>
      <div class="item">
        <%= link_to 'Edit profile', edit_user_registration_path %>
      </div>
      <div class="item">
        <%= link_to "Logout", destroy_user_session_path, method: :delete %>
      </div>
    <% end %>
  </div>

</div>
